.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  padding: 20px;
}

img {
  border: 1px solid black;
}

#whatToFind {
  display: flex;
  gap: 20px;
  justify-content: center;  
  margin: 20px;
}

.found {
  color: grey;
}

#mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 20px;
}

#imageLinks {
  display: flex;
  gap: 15px;
}

#popupMenu {
  position: absolute;
  padding: 10px;
  border: 1px solid black;
  z-index: 2;
  background-color: white;
}

.popupHide {
  display: none;
}

.popupShow {
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li:not(:last-child) {
  margin-bottom: 5px;
}