.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  padding: 20px;
}

img {
  border: 1px solid black;
}

a {
  text-decoration: none;
}
a:visited {
  color: black;
}

#blank {
  font-size: 24px;
  font-style: italic;
}

#appNav {
  font-size: 18px;
}

.whatToFind {
  display: flex;
  gap: 20px;
  justify-content: center;  
  margin-bottom: 20px;
  font-size: 24px;
}

.found {
  color: grey;
}

#mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 20px;
}

#imageLinks {
  display: flex;
  gap: 40px;
}

#popupMenu {
  position: absolute;
  padding: 10px;
  border: 1px solid black;
  z-index: 2;
  background-color: white;
}

.popupHide {
  display: none;
}

.popupShow {
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li:not(:last-child) {
  margin-bottom: 5px;
}

#gameOverArea {
  font-size: 60px;
  color: red;
  font-weight: bold;
  text-align: center;
}

button {
  font-size: 16px;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 4px;
  padding: 10px;
}
button:active {
  transform: translateY(1px);
}

#leaderBoard {
  text-align: center;
  font-size: 48px;
}

#leaderBoard > li:first-child {
  margin-top: 20px;
}

.leaderLI {
  display: flex;
  justify-content: space-between;
  min-width: 350px;
  font-size: 22px;
  margin: 10px;
}

.link {
  font-size: 24px;
}